/* .paraimg{
    margin-left: 70px;
    height: 400px;
     width: 500px; 
} */
.backabout{
    background:linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}
    

.progresbar{
    height: 10px;
     
}

