.backcontact{
    background:linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
    
}
.contacticon{
    height: 40px;
    width: 40px;
    border: 1px solid #d43076; 
    
     border-radius: 50px; 
    color:hsl(334, 66%, 51%);
    /* text-align: center; */
    
}
.contacticon:hover{
    background-color: #d43076;
    color: white;
}
.sendbtn{
    border-radius: 50px;
    background-color: #d43076;
    border: #d43076;
    transition: all 0.4s ease 0s;
}
.sendbtn:hover{

    background-color: #d43076;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}





